@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;700&display=swap');
/* 
-- 01 TYPOGRAPHY SYSTEM

SPACING (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- 02 COLORS
primary: #f1efe3
Tints: #
Shades:
Accents:
Greys: #555, #333
rgb(235, 235, 235);

-- SHADOWS

--- 06 BORDER RADIUS
Default: 9px

--- 07 WHITESPACE

--- 08 FONT WEIGHTS
Default: 400
Medium: 500 
Semi-Bold: 600
Bold: 700

--- 09 LINE HEIGHT
Default: 1
Small: 1.05
Paragraph Default: 1.6
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: rgb(245, 245, 247);
  font-family: 'Darker Grotesque', sans-serif;
}

.container {
  max-width: 111.4rem;
  background-color: #fff;
  margin: 0 auto;
}

/* HELPER */
.btn--large {
  font-size: 2.2rem;
  font-weight: 700;
}
