/* ---------------------- */
/* 01 HEADER */
/* ---------------------- */

.header {
  display: flex;
  align-items: center;
  height: 9.6rem;

  max-width: 146.4rem;
  margin: 0 auto;
  /* background-color: red; */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.main-nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;

  border-radius: 10rem;
  background-color: rgb(223, 223, 223);
  padding: 0.6rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 1.95px 2.95px 3.6px;
}

.main-nav-link.active {
  background-color: #fff;
  border-radius: 50px;

  box-shadow: rgba(0, 0, 0, 0.085) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.075) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.075) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.023) 0px 32px 16px;
  color: #333 !important;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.3s;
  font-weight: 700;
  padding: 1rem 1.6rem;
}

.nav-btn {
  display: flex;
  align-items: center;
  padding: 1rem 1.6rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 50px;

  color: #333;
  text-decoration: none;
}

/* ---------------------- */
/*02 HERO SECTION */
/* ---------------------- */
.hero {
  /* background-color: #333; */
  height: 40rem;
}
.profile-media {
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: repeat(4, 10rem);
}

/* .profile-media {
  display: flex;
  height: 30rem;
} */

/* .image-container {
  background-color: #fff;
} */

.logo {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.image-container {
  grid-column: 2 /4;
  grid-row: 2 /4;
}

.socials-container {
  /* background-color: wheat; */
  grid-column: 2 /5;
  grid-row: 4 /5;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.socials-icon {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
